<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title}}</title>

    <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css">

  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="/components/bootstrap-material-design/dist/css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="/components/bootstrap-material-design/dist/css/ripples.min.css">

  <link rel="stylesheet" type="text/css" href="/components/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css">

  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}

  <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/components/momentjs/min/moment.min.js"></script>
  <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/components/bootstrap-material-design/dist/js/material.min.js"></script>
  <script type="text/javascript" src="/components/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script type="text/javascript" src="/components/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

  <script type="text/javascript" src="/components/Bootstrap-3-Typeahead/bootstrap3-typeahead.min.js"></script>
  <script type="text/javascript" src="/components/handlebars/handlebars.min.js"></script>

  <script type="text/javascript">

  $( document ).ready(function() {

    var post_data = {fromLocation: "", toLocation: "", travelDate: ""};
    $.each(["fromLocation", "toLocation"], function(index, value) {
      $('#' + value).typeahead({
        minLength: 2,
        matcher: function (item) {
          var it = this.displayText(item);
          return ~it.toLowerCase().indexOf(this.query.toLowerCase());
        },
        displayText: function (item) {
          if (typeof item !== 'undefined') {
            if (typeof item.cityName != 'undefined' && typeof item.airportName != 'undefined') {
              return item.cityName + " [ " + item.airportName + " ] ";
            } else {
              return item;
            }
          } else {
            return item;
          }
        },
        updater: function (item) {
          post_data[value] = item.airportCode;
          return item;
        },
        source:  function (query, process) {
          return $.get('/api/airports', { q: query }, function (data) {
              console.log(data);
              // data = $.parseJSON(data);
              return process(data);
          });
        }
      });
    });

    $('#travelDate').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
    $('#travelDate').on("change", function (event, date) {
      post_data.travelDate = date.format('YYYY-MM-DD');
    });

    var tmpl = $.get('/templates/flight.hbs', function (data) {
        var template=Handlebars.compile(data);
        // $(target).html(template(jsonData));
        return template;
    }, 'html')
    console.log(tmpl)

    $('#submitBtn').click(function() {
      $('#flight_list').hide();
      $("#spinner").show();
      // $("#flight_search").find("input").each(function( i ) {
      //   post_data[$(this).prop('id')] = $(this).val();
      // });
      console.log(post_data);

      var tplsrc = $("#flight-template").html();
      var template = Handlebars.compile(tplsrc);

      $.post( "/api/search", post_data, function( data ) {
        $('#flightNavTabs').empty();
        $('#flightTabContent').empty();
        datakeys = data.map(el => Object.keys(el).pop() );
        $.each(data, function( idx, value ) {
          $('#flightNavTabs').append( $('<li><a href="#' + datakeys[idx] + '" data-toggle="tab">' + datakeys[idx] + '</a></li>') );
          var flightTabContent = $('#flightTabContent').append( $('<div class="tab-pane fade" id="' + datakeys[idx] + '"></div>') );
          $.each(value, function( date, flightList ) {
            if ($.isArray(flightList)) {
              $.each(flightList, function( idxFlight, flight ) {
                if ($.type(flight) === "object" && !$.isEmptyObject(flight)) {
                  console.log(flight);
                  flightTabContent.find( $('#' + date) ).append( template(flight) );
                } else {
                  console.log("there is an error in API call!");
                }
              });
            }
          });
        });
      }, "json").done(function() {
        $('.nav-tabs a[href="#' + $('#travelDate').val() + '"]').tab('show');
        $('#flight_list').slideDown( "slow" );
      })
      .fail(function() {
        // alert( "error" );
      })
      .always(function() {
        $("#spinner").hide();
      });
    });

  });

  </script>

  <script id="flight-template" type="text/x-handlebars-template">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-10">
            <h3 class="panel-title">
              \{{airline.name}}
              \{{flightNum}}
              \{{durationMin}}
              \{{distance}}
            </h3>
          </div>
          <div class="col-md-2">
            <b> \{{price}} $ </b>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            Start <br/>
            City : \{{start.cityName}} <br/>
            Airport : \{{start.airportName}} <br/>
            Date : \{{start.dateTime}} <br/>
          </div>
          <div class="col-md-6">
            Finish <br/>
            City : \{{finish.cityName}} <br/>
            Airport : \{{finish.airportName}} <br/>
            Date : \{{finish.dateTime}} <br/>
          </div>
      </div>
    </div>
  </script>

</head>
<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation -->
          <a class="navbar-brand" href="#">{{ title }}</a>
        </div>
        <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      {{{body}}}

    </div><!-- /container -->

    <div id="spinner" class="loading_modal" style="display: none">
        <div class="center">
          <img id="img-spinner" src="/img/ajax-loader.gif" alt="Loading"/>
        </div>
    </div>

  </body>
</html>
